/*************************************************************** General ********************************************************/
* {
    font-family:'Raleway', sans-serif;
}


.fa-solid {
    color: #0065FC;
}

.main-container {
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 1.375em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: #F2F2F2;
}

body{
    margin: 0;

}
    /******************************************************* header *********************************************************/


/* espacer le logo et les deux liens */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    
}

/* espacer les deux liens */
nav{
    display : flex;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
}

/* enlever la couleur et le soulignage des liens */
.lienheader{
    padding: 30px;
    text-decoration: none;
    color: black;

}

/* créer une bordure top qui apparait quand on survole le lien et met texte en bleu */
.lienheader:hover {
    border-top: #0065FC solid;
    color: #0065FC;
    }
    
/* ajustement du logo */
.logoheader{
    width: 61px;
    padding: 30px 50px 30px 0px;
    
}

/* main : titre et promesse */

h1{
    font-size: 1.375em;
    font-weight: 700;
}


h4{
    font-size: 1em;
    font-weight: 400;
    
}
/* icone info */
.fa-info{
    border: 2px solid #F2F2F2;
    padding: 8px 13px 8px 13px;
    border-radius: 60px;
    margin-right:12px;
    font-size: 0.813;
}


/* *******************************************************************rechercher****** ******************************************************************************************************/

.fa-location-dot{
    
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    height: 41px;
    border:1px;
    text-align: center;
    padding-top: 15px;
    font-size: 1.25em;
}


.rechercher{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
           
}


button{
    width:132px;
    height: 49px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.125em;
    font-weight: 700;
    }
.rechercher ::placeholder{
        color: black;
    }

input{
        width:220px;
        height: 49px;
        font-size: 1.125em;
        font-weight: 700;
        text-align: center;
        color: black;
        border:none;
        
    }
form{
        border: 1px solid #F2F2F2;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

.fa-magnifying-glass{
    display: inline-block;
    background-color: #0065FC;
    color: white;
    width: 53px;
    height: 36px;
    border:1px;
    text-align: center;
    padding-top: 18px;
    font-size: 1.1em;
    border-radius: 15px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);

}


/**************************************************** filtres *******************************************************************/
.titrefiltre{
    font-size: 1.125em;
}
.filtres{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap:20px;
    margin-top: 30px;
    margin-bottom: 30px;
   }

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire{
    padding-right: 10px;
    width: 22px;
    height: 22px;
}



.economique, .familial, .romantique, .nospepites{
    background-color:white;
    border-radius: 20px;
    color: black;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    font-size: 1.063em;
    font-weight: 700;
    text-align: center;
    padding-top:10px;
    padding-left:19px;
    padding-right: 19px;
}

.economique:hover, .familial:hover, .romantique:hover, .nospepites:hover{
    background-color: #DEEBFF;
}


a{
    text-decoration: none;
    color: black;
}


/********************** Hebergements And Populaires ***********************************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.fa-chart-line{
    font-size: 18px;
}

/********************************************************** hebergements ***************************************************************************** */

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    }
.hebergements-cards{
    width: 30%;
    margin-top: 30px;
    padding: 0px 12px 0px 12px;
}

.hebergements-cards .card{
    padding-bottom: 10px;
}
.hebergements-cards .card-title{
    margin:8px 3px 8px 3px; 
}

.hebergements-cards .card-subtitle{
    margin: 3px;
}
.hebergements-cards .card-rating{
    margin: 3px 3px 0px 3px;
}

.card-content-hebergements{
    padding-left: 3px;
}

.card-subtitle{
    font-size: 0.875em;
    margin-top:5px;
    margin-bottom: 5px;
}

.leshebergements-cards1, .leshebergements-cards2{
    display: flex;
    flex-direction: row;
    gap:auto;
    }

.hebergements .section-title{
    padding-left: 18px;
}

.afficherplus{
    font-size: 1.125em;
    font-weight: 700;
    padding-left: 18px;
    }

    /****************************************************************** Activité Marseille************************************** */
.activitéamarseille .section-title{
    padding: 35px;
    margin-top: 30px;
}

.activitéamarseille .card {
    height: 439px;
    width: 23%;
    padding: 0px;
}

.activitéamarseille img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    }
.activitesmarseille{
    display:flex;
    justify-content: space-between;
    padding: 0px 35px 0px 35px;
}

.activitéamarseille .card-title{
    padding-left: 15px;

}

/* ***************************footer***************************************************** */
.footertitle{
    font-size: 1.125em;
    font-weight: 700;
}

footer ul{padding: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 1em;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 30px;
    background-color: #F2F2F2;
    margin-top:60px;
    padding-right: 200px;
    }
li{
    padding-bottom: 20px;
}

/*************************** Le code ci-dessous correspond à la version responsive uniquement *********************************/

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/* enlever icone loupe pour écran sup à mobile */
/* display none seul ne marchait pas : trouvé la solution de rajouter !important */


@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.875em;
    }


}

/* Small devices (phones, less than 768px) */


@media (max-width: 767.98px) {
    /* le logo en haut et lien en dessous */
    header{
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        width: 100%;
    }
    /* la bordure top disparait et est remplacée par bordure bottom au survol */
    .lienheader:hover{
        border-top: none;
        border-bottom: #0065FC solid;
        color: #0065FC;    
    }
    /* recadrement des liens */
    .lienheader{
        padding-top:0px;
    }
    /* recadrement du logo */
    .logoheader{
        padding : 30px 50px 30px 50px;
        
    }
    /* recadrement nav */
    nav{
        padding: 0px;
       
    }
    /* pour que la bordure bottom du hover prenne toute la largeur (il doit exister un autre moyen pour cela +pour bien centrer les deux liens je n'ai pas trouvé) */
    .lienheader{
        padding:0px 47px 20px 40px;
    }
/* enlever le bouton rechercher pour mobile */
    button{
        display:none;
    }


    .main-container{
        padding: 0px;
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
    }

    .section1{
        padding: 0px 18px 0px 18px;
        }
    
/* mettre les filtres en colonne */
    .filtres{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        
    }
    /* mettre Filtre sur une seule ligne */
.titrefiltre{
    grid-column: 1/3;
    margin-top: 0;
}
.nospepites, .economique, .familial, .romantique{
    border-radius: 20px;
    color: black;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    font-size: 0.938em;
    font-weight: 700;
    text-align: center;
    padding-top:13px;
    padding-left:0px;
    padding-right: 0px;
    height: 35px;
}
.familial{
    padding-right: 32px;
}
.filtres{
    gap:10px;
    padding-top: 0px;
}

.rechercher{
    justify-content: center;
    width: 100%;
}


.leshebergements-cards1, .leshebergements-cards2{
    display: flex;
    flex-direction: column;
    }
.hebergements-cards{
    width: auto;
    padding: 0;
}
.hebergements .section-title {
    padding-left: 0px;
}


.populaires-cards{
    display: flex;
    flex-direction: column;
    }
.populaires-cards .card{
    width: 100%;
}
.hebergements .section-title {
    padding: 0;
}


.activitesmarseille{
    display: flex;
    flex-direction: column; 
    padding: 30px;
    gap: 15px;
  }
.activitesmarseille .card{
    width: auto;
}

.activitéamarseille img{
    height: 141px;
   
 }
 .populaires-cards .card{
    margin-top: 20px;
 }
.activitéamarseille .card {
    height:200px;
    padding: 0px;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}
.hebergements-and-populaires{
    display: flex;  
    flex-direction: column-reverse;
    
}
.fa-info{
    font-size: 12px;
    padding: 5px 8px 5px 8px;
}
.populaires{
    margin: auto;
}
.hebergements section{
    background-color: white;
}
.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire{
    padding-right: 10px;
    font-size: 19px;
    
    }

    .populaires-cards .card-title{
        font-size: 1em;
    }
}







@media (min-width:767.98px) {
    .fa-magnifying-glass{
        display: block;
        display:none !important;
        
    }

        
}    /* ... */


